@page
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
    ViewData["Title"] = "Kontaktinformation";
}

<h1 class="display-4">Kontaktinformation</h1>

<p>Har du spørgsmål eller kommentarer til kantinens menu, er du velkommen til at kontakte os på:</p>


<table>
    <thead>
        <tr>
            <th>Navn</th>
            <th>Telefon</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Karen</td>
            <td>12345678</td>
            <td>ollobolo@gmail.com</td>
            <td/>
            </tr>
    <tbody/>
</table>
      