@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h2 class="menu-title">Menu - @Model.MenuItems.FirstOrDefault()?.PartitionKey</h2>  


@if (Model.MenuItems.Count == 0)
{
    <p class="no-items">Ingen menupunkter tilgængelige.</p>
}
else
{
    <ul class="menu-list">
        @foreach (var item in Model.MenuItems)
        {
            <li class="menu-item">
                <div class="menu-item-row">
                    <strong>Dag</strong> @item.RowKey
                </div>
                <div class="menu-item-row">
                    <strong>Varme Ret:</strong> @item.VarmRet
                </div>
                <div class="menu-item-row">
                    <strong>Kold Ret:</strong> @item.KoldRet
                </div>

                <br />
            </li>
        }
    </ul>
}
